
<mat-tab-group class="p-5 " style="width: 700px; height: 700px;">
    <mat-tab style="width: 60vw; height: 70vw; " label="Mi Cuenta">
        <h5 class="mt-3">Informacion</h5>
        <ul>
            <li>Nombre: {{userDto.firstname}}</li>
            <li>Apellido: {{userDto.lastname}}</li>
            <li>Telefono: {{userDto.telefono}}</li>
            <li>Direccion: {{userDto.direccion}}</li>
            <li>Email: {{userDto.email}}</li>
        </ul>
        <h5 class="mt-2">Turnos: </h5>
    </mat-tab>
    <mat-tab label="Editar o Eliminar Perfil" style="width: 60vw;height: 55vw; "> 
        <div  [formGroup]="form" class="mt-3" style="overflow-x: hidden; width: 100%; " >
            <h1 class="logo"><a href="index.html">MiTaller<span>.</span></a></h1>
            <hr>
            <h4 class="mb-3">Editar Perfil</h4>
            <div class="row">
                <div class="form-floating mb-3 col-12 col-md-6" >
                    <input formControlName="nombre" type="text" class="form-control" id="nombre" placeholder="Nombre">
                    <label  for="nombre">Nombre</label>
                </div>
                <div class="form-floating mb-3 col-12 col-md-6">
                    <input formControlName="apellido" type="text" class="form-control" id="apellido" placeholder="Apellido">
                    <label for="apellido">Apellido</label>
                </div>
                <div class="form-floating mb-3 col-12 col-md-12">
                    <input formControlName="phone" type="number" class="form-control" id="phone" placeholder="Telefono">
                    <label for="phone">Telefono</label>
                </div>
                <div class="form-floating col-12 col-md-12">
                    <input formControlName="direccion" type="text" class="form-control" id="direccion" placeholder="Direccion">
                    <label for="direccion">Direccion</label>
                </div>
                <div class="form-floating mt-3 mb-3 col-12 col-md-12">
                    <input  formControlName="email" type="email"  class="form-control" id="email"  placeholder="Email" >
                    <label for="email">Email</label>
                    
                </div>
                <div>
                    <button type="" class="btn btn-primary me-3" (click)="editar()">Editar</button>
                    <button type="" class="btn btn-danger" (click)="eliminar()">Eliminar mi cuenta</button>
                </div>
            </div>
    </div>
    </mat-tab>
  </mat-tab-group>