<footer id="footer">
  


    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-3 col-md-6 footer-contact">
            <h3>MiTaller<span>.</span></h3>
            <p>
              Direccion de Ejemplo <br>
              Cordoba, Cordoba<br>
              Argentina <br><br>
              <strong>Telefono:</strong> 351 748 9342<br>
            </p>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Links</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Inicio</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Sobre Nosotros</a></li>
              <li routerLink="/terms"><i class="bx bx-chevron-right"></i> Terminos y Condiciones</li>
            </ul>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Nuestros Servicios</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Chapa y Pintura</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Cambio de Aceite</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Mecanica General</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Cambio de Filtros</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Lavado de Auto</a></li>
            </ul>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Nuestras Redes Sociales</h4>
            <p>Te invitamos a seguirnos en nuestras Redes Sociales</p>
            <div class="social-links mt-3">
              <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
              <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
            </div>
          </div>

        </div>
      </div>
    </div>
  </footer>