<div class="m-4">
    <div>
        <form action="" [formGroup]="formFilter">
            <div class="row">
                <div class="col-1">
                    <mat-form-field style="width: 100%;" class="example-full-width">
                        <mat-label>Nombre</mat-label>
                        <input formControlName="nombre" matInput placeholder="Nombre Comprobante">
                    </mat-form-field>
                </div>
                <div class="col-2">
                    <mat-form-field style="width: 100%;" class="example-full-width">
                        <mat-label>Proveedor</mat-label>
                        <input formControlName="proveedor" matInput placeholder="Nombre Proveedor">
                    </mat-form-field>
                </div>
                <div class="col-2">
                    <mat-form-field style="width: 100%;" class="example-full-width">
                        <mat-label>Numero Telefono</mat-label>
                        <input formControlName="telefono" matInput placeholder="Numero Telefono">
                    </mat-form-field>
                </div>
                <div class="col-2">
                    <mat-form-field style="width: 100%;" class="example-full-width">
                        <mat-label>Email</mat-label>
                        <input formControlName="email" matInput placeholder="Email del Proveedor">
                    </mat-form-field>
                </div>
                <div class="col-3">
                    <mat-form-field style="width: 100%;" class="example-full-width">
                        <mat-label>Entre</mat-label>
                        <mat-date-range-input [rangePicker]="picker">
                            <input formControlName="fecha_inicio" matStartDate placeholder="Fecha Inicial">
                            <input formControlName="fecha_fin" matEndDate placeholder="Fecha Final">
                        </mat-date-range-input>
                        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-date-range-picker #picker></mat-date-range-picker>
                    </mat-form-field>
                </div>


                <div class="col-1">
                    <button (click)="aplicarFiltros()" mat-raised-button color="primary"
                        style="width: 100%; height: 55px;">
                        <h6 class="mt-2">Buscar

                        </h6>
                    </button>
                </div>
                <div class="col-1">

                    <button routerLink="/panel/buy/register" mat-raised-button color="primary"
                        style="width: 100%; height: 55px;">
                        <h6 class="mt-2">Registrar</h6>
                    </button>
                </div>
            </div>
        </form>
    </div>
    <div class="mat-elevation-z4" style="width: 100%; border-radius: 10px;">

        <table mat-table [dataSource]="dataSource" style=" width: 100%; ">
            <ng-container matColumnDef="nombreCompra">
                <th mat-header-cell *matHeaderCellDef>
                    Nombre
                </th>
                <td mat-cell *matCellDef="let element">{{element.nombreCompra}}</td>
            </ng-container>

            <ng-container matColumnDef="descripcion">
                <th mat-header-cell *matHeaderCellDef>
                    Descripcion
                </th>
                <td mat-cell *matCellDef="let element">{{element.descripcion}}</td>
            </ng-container>

            <ng-container matColumnDef="fecha">
                <th mat-header-cell *matHeaderCellDef>
                    Fecha
                </th>
                <td mat-cell *matCellDef="let element">{{element.fecha}}</td>
            </ng-container>

            <ng-container matColumnDef="proveedor">
                <th mat-header-cell *matHeaderCellDef>
                    Proveedor
                </th>
                <td mat-cell *matCellDef="let element">{{element.proveedor.nombre}}</td>
            </ng-container>

            <ng-container matColumnDef="detalles">
                <th mat-header-cell *matHeaderCellDef>
                    Detalles
                </th>
                <td mat-cell *matCellDef="let element"><a (click)="verDetalles(element.nombreCompra)" style="cursor:pointer; color: blue; text-decoration:underline;">Detalles</a></td>
            </ng-container>

            <ng-container matColumnDef="total">
                <th mat-header-cell *matHeaderCellDef>
                    Total
                </th>
                <td mat-cell *matCellDef="let element">{{element.total | currency}}</td>
            </ng-container>
            <ng-container matColumnDef="tipoPago">
                <th mat-header-cell *matHeaderCellDef>
                    Tipo de Pago
                </th>
                <td mat-cell *matCellDef="let element">{{element.tipoPago}}</td>
            </ng-container>






            <ng-container matColumnDef="dadaDeBaja">
                <th mat-header-cell *matHeaderCellDef>
                    Dada de Baja
                </th>
                <td mat-cell *matCellDef="let element">
                    <mat-slide-toggle [disabled]="element.dadaDeBaja" (change)="darDeBaja(element.nombreCompra)" color="primary" [checked]="!element.dadaDeBaja"></mat-slide-toggle>
                </td>
            </ng-container>

            <ng-container matColumnDef="acciones">
                <th mat-header-cell *matHeaderCellDef>
                    Acciones
                </th>
                <td mat-cell *matCellDef="let element">
                    <button mat-raised-button class="me-2" color="primary" (click)="imprimir(element)">
                        Imprimir Comprobante
                    </button>
                </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
        </table>
        <mat-paginator class="mt-4" style="border-radius: 5px; " [pageSizeOptions]="[10,15,20]"
            showFirstLastButtons></mat-paginator>
    </div>

</div>