<mat-card class="m-3" style="height: 8vh;">
    <mat-card-actions>
        <button mat-raised-button class="m-3" color="primary" routerLink="register">Crear Auto</button>
        <button mat-raised-button class="m-3" color="primary" routerLink="update-car">Actualizar Auto</button>
        <button mat-raised-button class="m-3" color="primary" routerLink="table">Listar Autos</button>
        <button mat-raised-button class="m-3" color="primary" routerLink="register-brand">Marcas</button>
  
    </mat-card-actions>
</mat-card>
<mat-card class="m-3 p-3" style="height: 78vh; ">
    <router-outlet></router-outlet>
</mat-card>
