<body>
    
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <script defer src="../assets/js/main.js"></script>
    <!-- ======= Header ======= -->

    <app-header></app-header>
  
    <!-- ======= Hero Section ======= -->
    <section id="hero" class="d-flex align-items-center">
      <div class="container" data-aos="zoom-out" data-aos-delay="100">
        <h1>Bienvenido a <span>MiTaller</span></h1>
        <h2>¡Nosotros tenemos los mejores productos y servicios para tu auto!</h2>
        <button class="d-flex" style="border: none;" (click)="estaLogeado()">
          <a class="btn-get-started scrollto" >Agenda un Turno</a>
        </button>
      </div>
    </section><!-- End Hero -->
  
    <main id="main">
  
      <!-- ======= Featured Services Section ======= -->
      <section id="featured-services" class="featured-services">
        <div class="container" data-aos="fade-up">
  
          <div class="row">
            <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
              <div class="icon-box" data-aos="fade-up" data-aos-delay="100">
                <div class="icon"><i class="bx bxl-dribbble"></i></div>
                <h4 class="title"><a href="">Completar</a></h4>
                <p class="description">Voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi</p>
              </div>
            </div>
  
            <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
              <div class="icon-box" data-aos="fade-up" data-aos-delay="200">
                <div class="icon"><i class="bx bx-file"></i></div>
                <h4 class="title"><a href="">Completar</a></h4>
                <p class="description">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore</p>
              </div>
            </div>
  
            <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
              <div class="icon-box" data-aos="fade-up" data-aos-delay="300">
                <div class="icon"><i class="bx bx-tachometer"></i></div>
                <h4 class="title"><a href="">Completar</a></h4>
                <p class="description">Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia</p>
              </div>
            </div>
  
            <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
              <div class="icon-box" data-aos="fade-up" data-aos-delay="400">
                <div class="icon"><i class="bx bx-world"></i></div>
                <h4 class="title"><a href="">Completar</a></h4>
                <p class="description">At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis</p>
              </div>
            </div>
  
          </div>
  
        </div>
      </section><!-- End Featured Services Section -->
  
      <!-- ======= About Section ======= -->
      <section id="about" class="about section-bg">
        <div class="container" data-aos="fade-up">
  
          <div class="section-title">
            <h2>Sobre Nosotros</h2>
            <h3>¿Quiénes <span>Somos?</span></h3>
            <p>Somos un equipo apasionado de mecánicos expertos que se dedican a brindar soluciones confiables para tu vehículo.</p>
        </div>
        
        <div class="row">
            <div class="col-lg-6" data-aos="fade-right" data-aos-delay="100">
                <img  src="../assets/img/car.jpg" class="img-fluid" style="border-radius: 5px;" alt="Nuestro taller mecánico">
            </div>
            <div class="col-lg-6 pt-4 pt-lg-0 content d-flex flex-column justify-content-center" data-aos="fade-up" data-aos-delay="100">
              <h3>Comprometidos con la excelencia en el servicio automotriz</h3>
           
                <ul>
                    <li>
                        <i class="bx bx-store-alt"></i>
                        <div>
                            <h5>Reparación de motor</h5>
                            <p>Contamos con especialistas en reparación de motores, garantizando un rendimiento óptimo para tu vehículo.</p>
                        </div>
                    </li>
                    <li>
                        <i class="bx bx-images"></i>
                        <div>
                            <h5>Revisión y mantenimiento preventivo</h5>
                            <p>Nuestro equipo realiza exhaustivas revisiones y mantenimiento preventivo para evitar futuros problemas en tu automóvil.</p>
                        </div>
                    </li>
                </ul>
                <p>
                    Confía en nosotros para cualquier reparación o mantenimiento que necesite tu vehículo. Estamos aquí para ayudarte a mantenerlo en las mejores condiciones posibles.
                </p>
            </div>
        </div>
  
        </div>
      </section><!-- End About Section -->
  
  
  
      <!-- ======= Services Section ======= -->
      <section id="services" class="services">
        <div class="container" data-aos="fade-up">
  
          <div class="section-title">
            <h2>Servicios</h2>
            <h3>Checkea nuestros <span>Servicios</span></h3>
            <p>¡Tenemos una variedad de servicios para ofrecer a nuestros clientes!</p>
          </div>
  
          <div class="row">
            <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
              <div class="icon-box">
                <div class="icon"><i class="bx bxl-dribbble"></i></div>
                <h4><a href="">Service</a></h4>
                <p>Voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi</p>
              </div>
            </div>
  
            <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-md-0" data-aos="zoom-in" data-aos-delay="200">
              <div class="icon-box">
                <div class="icon"><i class="bx bx-file"></i></div>
                <h4><a href="">Chapa y Pintura</a></h4>
                <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore</p>
              </div>
            </div>
  
            <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-lg-0" data-aos="zoom-in" data-aos-delay="300">
              <div class="icon-box">
                <div class="icon"><i class="bx bx-tachometer"></i></div>
                <h4><a href="">Cambio de</a></h4>
                <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia</p>
              </div>
            </div>
  
            <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4" data-aos="zoom-in" data-aos-delay="100">
              <div class="icon-box">
                <div class="icon"><i class="bx bx-world"></i></div>
                <h4><a href="">Mecanica General</a></h4>
                <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis</p>
              </div>
            </div>
  
            <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4" data-aos="zoom-in" data-aos-delay="200">
              <div class="icon-box">
                <div class="icon"><i class="bx bx-slideshow"></i></div>
                <h4><a href="">Cambio de Filtros</a></h4>
                <p>Quis consequatur saepe eligendi voluptatem consequatur dolor consequuntur</p>
              </div>
            </div>
  
            <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4" data-aos="zoom-in" data-aos-delay="300">
              <div class="icon-box">
                <div class="icon"><i class="bx bx-arch"></i></div>
                <h4><a href="">Motor</a></h4>
                <p>Modi nostrum vel laborum. Porro fugit error sit minus sapiente sit aspernatur</p>
              </div>
            </div>
  
          </div>
  
        </div>
      </section><!-- End Services Section -->
  
  
  
      <!-- ======= Team Section ======= -->
      
      <section id="team" class="team section-bg">
        <div class="container" data-aos="fade-up">
  
          <div class="section-title">
            <h2>Equipo</h2>
            <h3>Nuestro  <span>Equipo de Trabajo</span></h3>
            <p>Tenemos a los mejores mecanicos</p>
          </div>
  
          <div class="row">
  
            <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="100">
              <div class="member">
                <div class="member-img">
                  <img src="../assets/img/team/team-1.jpeg" class="img-fluid" alt="">
                </div>
                <div class="member-info">
                  <h4>Walter White</h4>
                  <span>Mecanico</span>
                </div>
              </div>
            </div>
  
            <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
              <div class="member">
                <img src="../assets/img/team/team-1.jpeg" class="img-fluid" alt="">
                <div class="member-info">
                  <h4>Sarah Jhonson</h4>
                  <span>Mecanico</span>
                </div>
              </div>
            </div>
  
            <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="300">
              <div class="member">
                <img src="../assets/img/team/team-1.jpeg" class="img-fluid" alt="">
                <div class="member-info">
                  <h4>Mecanico</h4>
                  <span>CTO</span>
                </div>
              </div>
            </div>
  
            <div class="col-lg-3 col-md-6 d-flex align-items-stretch" >
              <div class="member">
                <img src="../assets/img/team/team-1.jpeg" class="img-fluid" alt="">
                <div class="member-info">
                  <h4>Amanda Jepson</h4>
                  <span>Mecanico</span>
                </div>
              </div>
            </div>
  
          </div>
  
        </div>
      </section><!-- End Team Section -->
  
     
  
      <!-- ======= Frequently Asked Questions Section ======= -->
      <section id="faq" class="faq section-bg2">
        <div class="container" data-aos="fade-up">
  
          <div class="section-title">
            <h2>F.A.Q</h2>
            <h3>Preguntas <span>Frecuentes</span></h3>
            <p>Este es un texto a modo de ejemplo para las preguntas frecuentas a nuestra empresa</p>
          </div>
  
          <div class="row justify-content-center">
            <div class="col-xl-10">
              <ul class="faq-list">
  
                <li>
                  <div data-bs-toggle="collapse" class="collapsed question" href="#faq1">¿Cómo creo mi cuenta en MiTaller? <i class="bi bi-chevron-down icon-show"></i><i class="bi bi-chevron-up icon-close"></i></div>
                  <div id="faq1" class="collapse" data-bs-parent=".faq-list">
                      <p>
                          Para crear tu cuenta en MiTaller, simplemente haz clic en el botón "Registrarse" en la página de inicio y sigue los pasos indicados.
                      </p>
                  </div>
              </li>
  
              <li>
                  <div data-bs-toggle="collapse" class="collapsed question" href="#faq2">¿Cómo puedo solicitar un turno en un taller mecánico? <i class="bi bi-chevron-down icon-show"></i><i class="bi bi-chevron-up icon-close"></i></div>
                  <div id="faq2" class="collapse" data-bs-parent=".faq-list">
                      <p>
                          Para solicitar un turno en un taller mecánico, inicia sesión en tu cuenta de MiTaller, selecciona el taller deseado y elige el horario disponible que más te convenga.
                      </p>
                  </div>
              </li>
  
              <li>
                  <div data-bs-toggle="collapse" class="collapsed question" href="#faq3">¿Cómo puedo cancelar un turno previamente agendado? <i class="bi bi-chevron-down icon-show"></i><i class="bi bi-chevron-up icon-close"></i></div>
                  <div id="faq3" class="collapse" data-bs-parent=".faq-list">
                      <p>
                          Para cancelar un turno previamente agendado, accede a tu perfil en MiTaller, busca la opción "Mis Turnos" y selecciona el turno que deseas cancelar. Luego, sigue las instrucciones para confirmar la cancelación.
                      </p>
                  </div>
              </li>
  
              <li>
                <div data-bs-toggle="collapse" href="#faq4" class="collapsed question">¿Cómo puedo cambiar mi contraseña en MiTaller? <i class="bi bi-chevron-down icon-show"></i><i class="bi bi-chevron-up icon-close"></i></div>
                <div id="faq4" class="collapse" data-bs-parent=".faq-list">
                    <p>
                        Para cambiar tu contraseña en MiTaller, inicia sesión en tu cuenta, ve a la sección de configuración o perfil y busca la opción "Cambiar contraseña". Allí podrás ingresar tu contraseña actual y la nueva contraseña que deseas utilizar.
                    </p>
                </div>
            </li>
            
            <li>
                <div data-bs-toggle="collapse" href="#faq5" class="collapsed question">¿Cómo puedo recuperar mi contraseña si la he olvidado? <i class="bi bi-chevron-down icon-show"></i><i class="bi bi-chevron-up icon-close"></i></div>
                <div id="faq5" class="collapse" data-bs-parent=".faq-list">
                    <p>
                        Si olvidaste tu contraseña en MiTaller, puedes restablecerla fácilmente. En la página de inicio de sesión, haz clic en "¿Olvidaste tu contraseña?" y sigue las instrucciones para restablecerla. Recibirás un correo electrónico con un enlace para crear una nueva contraseña.
                    </p>
                </div>
            </li>
            
            <li>
                <div data-bs-toggle="collapse" href="#faq6" class="collapsed question">¿Cómo puedo contactar al soporte técnico de MiTaller? <i class="bi bi-chevron-down icon-show"></i><i class="bi bi-chevron-up icon-close"></i></div>
                <div id="faq6" class="collapse" data-bs-parent=".faq-list">
                    <p>
                        Para contactar al soporte técnico de MiTaller, puedes enviar un correo electrónico a soporte@mitaller.com o llamar al número +123456789. Nuestro equipo estará encantado de ayudarte con cualquier problema o pregunta que tengas.
                    </p>
                </div>
            </li>
  
              </ul>
            </div>
          </div>
  
        </div>
      </section><!-- End Frequently Asked Questions Section -->
  
      <!-- ======= Contact Section ======= -->
      <section id="contact" class="contact">
        <div class="container" data-aos="fade-up">
  
          <div class="section-title">
            <h2>Contacto</h2>
            <h3><span>Contactanos</span></h3>
            <p>¡Hablanos y resolve tus dudas!</p>
          </div>
  
          <div class="row" data-aos="fade-up" data-aos-delay="100">
            <div class="col-lg-6">
              <div class="info-box mb-4">
                <i class="bx bx-map"></i>
                <h3>Nuestra Direccion</h3>
                <p>Direccion de Ejemplo</p>
              </div>
            </div>
  
            <div class="col-lg-3 col-md-6">
              <div class="info-box  mb-4">
                <i class="bx bx-envelope"></i>
                <h3>Nuestro Email</h3>
                <p ngNonBindable>ejemplo&#64;gmail.com</p>
              </div>
            </div>
  
            <div class="col-lg-3 col-md-6">
              <div class="info-box  mb-4">
                <i class="bx bx-phone-call"></i>
                <h3>Llama</h3>
                <p>1231231225</p>
              </div>
            </div>
  
          </div>
  
          <div class="row" data-aos="fade-up" data-aos-delay="100">
  
            <div class="col-lg-6 ">
              <iframe class="mb-4 mb-lg-0" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d12097.433213460943!2d-74.0062269!3d40.7101282!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xb89d1fe6bc499443!2sDowntown+Conference+Center!5e0!3m2!1smk!2sbg!4v1539943755621" frameborder="0" style="border:0; width: 100%; height: 384px;" allowfullscreen></iframe>
            </div>
  
            <div class="col-lg-6">
              <form action="forms/contact.php" method="post" role="form" class="php-email-form">
                <div class="row">
                  <div class="col form-group">
                    <input type="text" name="name" class="form-control" id="name" placeholder="Nombre" required>
                  </div>
                  <div class="col form-group">
                    <input type="email" class="form-control" name="email" id="email" placeholder="Email" required>
                  </div>
                </div>
                <div class="form-group">
                  <input type="text" class="form-control" name="subject" id="subject" placeholder="Titulo" required>
                </div>
                <div class="form-group">
                  <textarea class="form-control" name="message" rows="5" placeholder="Mensaje" required></textarea>
                </div>
                <div class="my-3">
                  <div class="loading">Cargando</div>
                  <div class="error-message"></div>
                  <div class="sent-message">Tu mensaje a sido enviado</div>
                </div>
                <div class="text-center"><button type="submit">Enviar Mensaje</button></div>
              </form>
            </div>
  
          </div>
  
        </div>
      </section><!-- End Contact Section -->
  
    </main><!-- End #main -->
  
    <!-- ======= Footer ======= -->
   <app-footer></app-footer>
  </body>
  
  
